body{
    background-color: rgba(249,250,251,0.63);
}

.container{
    width: 50%;
    margin-top: 200px;
    justify-content: center;
    text-align: center;
}
nav ul li {
    position: relative;
  }
nav ul li::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav ul li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
nav ul li a{
    padding: 5px;
    text-decoration: solid;
    font-weight: 500;
}
.custom-navbar {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    box-shadow: 15px 5px 10px rgba(3, 35, 46, 0.139);
}
.home-section{
    background-color: rgba(249,250,251,0.63);
    background-color: white;
}

#blank{
    padding-bottom: 100px;
}
#welcome{
    margin-top: 220px;
}
img{
    width: 200px;
}
#about2{
    margin-top: 0px;
    width: 50%;
    justify-content: center;
    text-align: center;
    padding-top: 190px;
    padding-bottom: 200px;

}
#myimage{
    transform:rotate(10deg);
    transition: linear;
}
#myimage:hover{
    transform: rotate(-0deg);
}

#projects{
    padding-top: 100px;
}

#img{
    justify-content: right;
    justify-items: right;
    text-align: center;
}
#aboutme{
    text-align: left;
}
#edu{
    padding-top: 80px;
}
.about-section{
    background-color: rgba(249,250,251,0.63);
}

.skill-section{
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: rgb(240, 242, 244);

}
.skill-section ul li img{
    width: 100px;
    padding: 10px;
    transition: transform 0.1s ease-in-out;
}
.skill-section ul li img:hover{
    transform: scale(1.3);
}
.skill-section ul li{
    list-style-type: none;
}
.icons{
    margin-top: 40px;
}
.blog-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(249,250,251,0.63);
}
#contact button{
    border-color: black;
    border-radius: 10px;
    text-align: left;
}
#contact{
    justify-content: left;
}
.contact-section{
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.677);
}
.form-floating input , .form-floating textarea{
    border-radius: 10px;
}
.btn:hover{
    background-color: white;
    color: black;
    text-decoration: solid;
    font-weight: 500;
}
.footer-section{
    background-color: rgba(0, 0, 0, 0.886);
    color: white;
    padding-bottom: 40px;
}
#icons i{
    padding: 10px;
    color: white;
}
.project-section{
    background-color: rgba(254, 254, 254, 0.301);
    padding-bottom: 100px;
}
#mymodal{
    margin-top: 300px;
}
#project1{
    width: 800px;
    height: 300px;
    background-color: #5553530c;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}
#project1:hover{
    transform: scale(1.1);
}
#pjt1img{
    width: 330px;
    height: 220px;
}
#project2{
    width: 800px;
    height: 300px;
    background-color: #5553530c;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}
#project2:hover{
    transform: scale(1.1);
}
#project3{
    width: 800px;
    height: 300px;
    background-color: #5553530c;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}
#project3:hover{
    transform: scale(1.1);
}
#blog1{
    padding-top: 70px;
    background-color: #5553530c;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}
#blog1:hover{
    transform: scale(1.1);
}
#blog2{
    padding-top: 70px;
    background-color: #5553530c;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;

}
#blog2:hover{
    transform: scale(1.1);
}
#blog3{
    padding-top: 70px;
    background-color: #5553530c;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}
#blog3:hover{
    transform: scale(1.1);
}
